{% extends "base.html" %}

{% block title %}Customer Orders{% endblock %}

{% block content %}

<div class="admin-container">

    <h1>Customer Orders</h1>

    <table class="admin-table">

       <tr>
    <th>ID</th>
    <th>Customer</th>
    <th>Phone</th>
    <th>Total</th>
    <th>Status</th>
    <th>Date</th>
    <th>Action</th>
</tr>

        {% for order in orders %}

        <tr>

    <td>{{ order["id"] }}</td>

    <td>{{ order["customer_name"] }}</td>

    <td>{{ order["phone"] }}</td>

    <td>${{ "%.2f"|format(order["total"]) }}</td>

    <td>
        <strong>{{ order["status"] }}</strong>
    </td>

    <td>{{ order["created_at"] }}</td>

    <td>
        <a href="/admin/order/{{ order['id'] }}">
            <button type="button">View</button>
        </a>
    </td>

</tr>
        {% else %}

        <tr>

            <td colspan="6">
                No orders yet.
            </td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}